body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #1a1a1a;
    min-height: 100vh;
}

.fs-mine {
    font-size: 16px;
    line-height: 18px;
}

/* My Buttons */
.mine1-btn{
    background-color: #FFFFFF;
    border: 1px solid #AF13AF;
    text-align: center;
    color: #AF13AF;
}

.mine1-btn:hover {
    background-color: #DD18DD;
    color: #FFFFFF;
    border-color: #DD18DD;
}

.mine1-btn:active, .mine-btn:focus {
    background-color: #EA3EEA;
    color: #FFFFFF;
    border-color: #EA3EEA;
}
.mine1-btn:disabled, .mine-btn[disabled] {
    opacity: 0.5;
}


.mine2-btn {
    background-color: #AF13AF;
    border: 2px solid #AF13AF;
    text-align: center;
    color: #FFFFFF;
}
.mine2-btn:hover {
    background-color: #DD18DD;
}
.mine2-btn:active {
    background-color: #EA3EEA;
}
.mine2-btn:disabled, .mine2-btn[disabled] {
    background-color: #F49AF4;
}

.bg-neutral-7 { background-color: #E9E5E5;}


